@import
url(http://fonts.googleapis.com/css?family=Lato);

body {
  background: url(../img/space.jpg);
  text-align: center;
}

h1{
  font-family: 'Lato';
  color: #2bdef2;
  font-size: 75px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 325px;
  display: inline-block;
}

.hands {
  margin: 0 auto;
  width: 400px;
  display: inline-block;
}

.hand{
  cursor: pointer;
}

.label{
  font-size: 25px;
  font-family: 'Lato';
}

.card{
  font-family: 'Lato';
  line-height: 100px;
  font-size:40px;
  float: left;
  margin: 5px;
  border: 2px solid;
  border-color: white;
  color: #3344c6;
  height: 100px;
  width: 76px;
  vertical-align: middle;
}

.fill{
  background-color: #adadad;
}

.label{
  color: #2bdef2;
}

.played{
  color: red;
}
