@import
url(http://fonts.googleapis.com/css?family=Lato);

body {
  background: url(../img/spaceT.jpg);
  text-align: center;
}

h1{
  font-family: 'Lato';
  color: #2bdef2;
  font-size: 75px;
  text-align: center;
  margin: 20px;
}

h3{
  font-family: 'Lato';
  color: #2bdef2;
  font-size: 25px;
  text-align: center;
}

.hand{
  cursor: pointer;
}

.card{
  font-family: 'Lato';
  line-height: 100px;
  font-size:40px;
  float: left;
  margin: 5px;
  border: 2px solid;
  border-color: white;
  color: #3344c6;
  height: 100px;
  width: 76px;
  vertical-align: middle;
}

.fill{
  background-color: #adadad;
}
